# Игнорировать файлы и директории, созданные операционной системой
.DS_Store
Thumbs.db

# Игнорировать папку node_modules и все её содержимое
node_modules/

# Игнорировать сгенерированные файлы сборки
/dist/
/build/
.idea
/storybook-static

# Игнорировать локальные конфигурационные файлы
.env

# Игнорировать временные файлы и кэши
*.log
*.tmp
*.swp

# Игнорировать файлы и директории, которые вы не хотите включать в репозиторий
секреты/